*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
}

.catalog{
    font-family: 'Muli';
    color: #363635;
}

.catalog__body{
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
}

.catalog__title{
    text-align: center;
    margin: 30px 0px 50px 0px;
}

.title{
    font-size: calc(15px + 15 * (100vw / 1200))
}

.catalog__row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.catalog__column{
    flex: 0 0 31%;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    box-shadow: 9px 0px 9px 0px rgba(128, 126, 131, 0.76);
}

.item-about{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item-about__image{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center
}

.item-about__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.item-about__article-title {
    font-size:calc(13px + 13 * ( 100vw / 1200 ));
    text-align: center;
    margin: 20px 10px;
    line-height: 30px;
}

.item-about__article-details {
    text-align: center;
    margin: 10px;
}



.goToDetails{
    padding: 10px;
    margin: 10px 0px;
    border: 2px solid grey;
    border-radius: 3px;
    background-color: rgb(192, 182, 182);
    color: white
}

.goToDetails:hover {
    border: 2px solid grey;
    background-color: whitesmoke;
    color: grey;
    transition-timing-function: linear;
    transition-duration: .4s;
}


.form-article {
    margin: 10px ;
}

.form-group{
    margin: 10px auto;
}


.new-article{
    padding: 5px;
    position: fixed;
    top: 40px;
    left: 95%;
    border: 2px solid grey;
    background-color: gold;
    color: grey;
}

.new-article:hover {
    border: 2px solid gold;
    background-color: grey;
    color: gold;
    transition-timing-function:cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition-duration: 1;
}


.save-article{
    margin: 10px auto;
    padding: 5px;
    background-color: goldenrod;
    border: 2px solid honeydew;
}


.ng-valid[required], .ng-valid.required {
    border-left: 2px solid green;
    border-right: 2px solid green;
}

.ng-invalid:not(form) {
    border-left: 2px solid red;
    border-right: 2px solid red;
}